<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.outven.bmtchallange">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrushMyTeethChallange">
        <activity android:name=".activities.AnimasiActivity"></activity>
        <activity android:name=".activities.ProfilActivity" />
        <activity android:name=".activities.LupaPasswordActivity" />
        <activity android:name=".activities.UploadAfterDoneActivity" />
        <activity android:name=".activities.UploadAfterActivity" />
        <activity android:name=".activities.UploadBeforeDoneActivity" />
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FullScreenActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.RegisterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.DashboardActivity" />
        <activity android:name=".activities.UploadBeforeActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>